.about-product {
	position: relative
	padding: 2.1rem 0 4.6rem
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		background: url("../images/mountains-1.png")
		-webkit-background-size: cover
		background-size: cover
		width: rem(1398);
		height: rem(600);
		top: 0.4rem;
		left: -52rem;
	}
}

.about-product__wrap {
	display: flex
	justify-content: space-between
}

.about-product__column-left {
	width: 100%
	max-width: rem(290)
	
}

.about-product__txt {
	margin-top: 1.3rem
	
	p {
		font-size: rem(18);
		line-height: rem(25);
		color: #000000
	}
}

.about-product__price {
	display: flex
	justify-content: space-between
	align-items: baseline
	margin-top: 5.65rem
	
	.old-price {
		margin: 0 0.2rem
	}
	
	.new-price {
		font-size: rem(30);
		line-height: rem(41);
		margin: 0 1.6rem
	}
	
}

.about-product__discount-btn {
	margin-top: 0.5rem
}

.about-product__column-center {
	width: 100%
	max-width: rem(300)
}

.about-product-img {
	width: 100%
	max-width: rem(300)
	margin: -1.3rem 0 0 -0.9rem;
}

.about-product__column-right {
	width: 100%
	max-width: rem(477)
}

.about-product__item {
	margin-bottom: 2.1rem
}

.about-product__item-number {
	display: flex
	justify-content: flex-start
	
	p {
		font-size: rem(80);
		line-height: 0.7;
		color: rgba(9, 180, 180, 0.7);
		font-weight: bold
		margin-right: 0.65rem
	}
	
	span {
		font-size: rem(20);
		line-height: rem(27);
		font-weight: bold
		color: rgba(9, 180, 180, 0.7);
		margin-top: 0.2rem
	}
}

.about-product__item-txt {
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	border-radius: 10px;
	width: 100%
	max-width: rem(457)
	margin: -1.5rem 0 0 1.2rem;
	position: relative
	z-index: 5
	padding: 0.7rem 1rem 0.7rem 1.2rem;
	
	p {
		font-size: rem(14);
		line-height: rem(19);
		color: #000000
		margin-bottom: rem(15)
		
		&:last-child {
			margin-bottom: 0
		}
	}
}