.bottom-info {
	padding: 4.9rem 0 0rem
	position: relative
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		background: url("../images/mountains-1.png") no-repeat
		-webkit-background-size: cover
		background-size: cover
		width: rem(1920);
		height: rem(824);
		top: -6rem;
		left: 0;
		opacity: 0.6;
	}
	
}

.bottom-info__wrap {
	display: flex
}

.bottom-info__title {
	text-align: center
	
	h1 {
		color: #000000
	}
	
	p {
		font-size: rem(22)
		line-height: rem(30)
	}
}

.bottom-info__price {
	margin-top: 5.2rem
	
	.old-price {
		margin: 0 1.8rem 0 0
	}
	
	.new-price {
		font-size: rem(30);
		line-height: rem(41);
		margin: 0
	}
}

.bottom-info__column__left {
	background: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 0.01%, rgba(255, 255, 255, 0) 100%);
	padding-bottom: 1.3rem
}

.bottom-info__discount-btn {
	display: flex
	justify-content: center
	margin-top: 0.6rem
}

.bottom-info__column__left .bottom-info__countdown {
	margin-top: 1.8rem
	width: 100%;
	max-width: 19.88rem;
	.countdown-title{
		  h3{
			  color: #111111
			  font-size: rem(16)
			  line-height: rem(22);
		  }
	  }
	.time {
		li {
			color: #DB1017;
			font-size: rem(16)
			line-height: rem(22);
			text-shadow none
			width: rem(20);
			height: rem(20);
		}
	}
}
	.bottom-info__img-1{
		width: 33.13rem;
		margin: 8.7rem 0 0 12.2rem;
	}
.bottom-info__img-2{
	width: rem(327)
	position: absolute
	top: -2rem;
	left: -2.5rem;
}