.our-work__review {
	position: relative
	padding: 4.8rem 0;
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		background: url("../images/mountains-1.png")
		-webkit-background-size: cover
		background-size: cover
		width: rem(1165);
		height: rem(500);
		top: 10.9rem;
		left: -20.5rem;
	}
	
	&:before {
		content: "";
		display: block;
		position: absolute;
		background: url("../images/mountains-1.png")
		-webkit-background-size: cover
		background-size: cover
		width: rem(1165);
		height: rem(500);
		top: 5.9rem;
		right: 0.5rem;
	}
}

.our-work__review__wrap {
	display: flex
	justify-content: space-between
}

.our-work {
	width: 49%
}

.our-work__wrap {
	width: 100%
	max-width: rem(400)
	margin: 3.7rem auto 0
	display: flex
	justify-content: space-between
	flex-wrap: wrap
}

.our-work__title {
	text-align: center
	
	p {
		font-size: rem(18);
		line-height: rem(25);
		color: #000000;
		margin-top: 1.2rem
	}
}

.our-work__item {
	width: rem(160)
	background: #FFFFFF;
	box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding: 0.7rem 0.9rem 1rem;
	margin-bottom: 3.7rem
}

.our-work__item-icon {
	width: rem(46)
}

.our-work__item-txt {
	text-align: center
	margin-top rem(12)
	width: 100%
	p {
		font-size: rem(15);
		line-height: rem(20);
		color: #111111;
		
	}
}