.our-pluses {
	position: relative
	padding: 5.8rem 0;
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		background: url("../images/mountains-1.png")
		-webkit-background-size: cover
		background-size: cover
		width: rem(932);
		height: rem(400);
		top: 5.9rem;
		left: -9.5rem;
	}
	
	&:before {
		content: "";
		display: block;
		position: absolute;
		background: url("../images/mountains-1.png")
		-webkit-background-size: cover
		background-size: cover
		width: rem(932);
		height: rem(400);
		top: 7.7rem;
		right: 6.9rem;
	}
}

.our-pluses__title {
	text-align: center
}

.our-pluses__wrap {
	width: 100%
	max-width: rem(750)
	margin: 1.9rem auto 0
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	position: relative
}

.our-pluses__item {
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	border-radius: 10px;
	width: rem(292)
	padding: 1.3rem
}

.our-pluses__item-title {
	h3 {
		font-size: rem(20);
		line-height: rem(27);
		color: #09B4B4;
	}
}

.our-pluses__item-txt {
	margin-top: 1.2rem
	
	p {
		font-size: rem(16);
		line-height: rem(22);
		color: #000;
	}
}

.our-pluses__item-1 {
	min-height: rem(483)
}

.our-pluses__item-2 {
	min-height: rem(270)
	margin-top: -16.8rem
}

.our-pluses__item-2_left {
	margin-left: 4.2rem
}

.our-pluses__item-2_right {
	margin-right: 4.2rem
}

.our-pluses__img {
	position: absolute
	width: 100%
	max-width: rem(591)
	z-index: 5
}

.our-pluses__img-1 {
	top: 10.6rem;
	left: -16.5rem;
}
.our-pluses__img-2 {
	top: 10.6rem;
	right: -16.5rem;
	transform scale(-1,1)
}
	.our-pluses__discount-btn{
		display: flex
		justify-content: center
		align-items: center
		margin-top: -5.3rem;
	}