.products {
	padding: 3.3rem 0
}

.products__title {
	text-align: center
}

.product__item {
	position: relative
	background: #FFFFFF;
	box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
	padding: rem(20)
	display: flex
	margin-top: 2.1rem
	margin-bottom: rem(100)
	
	&:last-child {
		margin-bottom: 0
	}
	
	&:after, &:before {
		content: "";
		display: block;
		position: absolute;
		width: 2px
		height: rem(215)
		background: #000000
	}
	
	&:before {
		bottom: 0
		left: 0
	}
	
	&:after {
		top: 0
		right: 0
	}
}

.product__item-column {
	position: relative
	z-index: 5
}

.product__item-column-left {
	width: 100%
	max-width: 14.8rem
}

.product__item-title {
	margin-top: 1.9rem
	
	h3 {
		font-size: rem(36);
		line-height: rem(49);
		text-transform: uppercase;
		color: #000000;
	}
}

.product__item-rate {
	display: flex
	align-items: center
	width: rem(170)
	height: rem(45)
	background: url("../images/rate-bg.png") no-repeat
	-webkit-background-size: cover
	background-size: cover
	margin: 0.9rem 0 0 0.2rem;
}

.rate-number {
	margin: 0 1rem 0 1.5rem;
	
	p {
		font-weight: bold;
		font-size: rem(14);
		line-height: rem(19);
		text-transform: uppercase;
		color: #111111;
	}
}

.rate-stars {
	display: flex
}

.star-svg {
	width: rem(14)
	height: rem(12)
	margin: 0 0.17rem
}

.star-svg_yellow {
	fill: #FEC601
}

.star-svg_grey {
	fill: #828282
}

.product__item-sale {
	background: #000000
	display: inline-block
	border-radius: 0 5px 5px 0
	margin: 5.3rem 0 0 -1.25rem;
	padding: 0.8rem 2.7rem 0.8rem 1.2rem;
	
	p {
		color: #ffffff
		font-size: rem(24);
		line-height: rem(33);
		font-weight: bold
	}
}

.product__item-footnote {
	margin-top: 4.6rem
	
	p {
		font-size: rem(18);
		line-height: rem(25);
		font-weight: 300
	}
}

.product__item-column-center {
	width: 100%
	max-width: 31.03rem
	margin-right: 4.6rem
}

.gallery-top {
	
	width: rem(330)
	height: 35.34rem
	margin: 0 1.2rem 0rem 0.4rem;
	
	.swiper-slide {
		width: rem(330)
		height: rem(495)
		box-shadow 0px 10px 10px rgba(0, 0, 0, 0.2);
	}
}

.product__slider {
	display: flex
	align-items: flex-start
	margin-top: 0.6rem
	
	.swiper-pagination-custom {
		font-size: rem(24);
		line-height: rem(33);
		bottom: 0.7rem;
		left: 50%;
		transform: translate(-50%, 0);
		text-align: center;
	}
}

.gallery-thumbs {
	width: rem(140)
	padding: 0 0.3rem
	
	.swiper-wrapper {
		display: flex
		justify-content: space-between
		flex-wrap: wrap
	}
	
	.swiper-slide {
		width: rem(60)
		height: rem(90)
		cursor: pointer
		margin-bottom: 1.2rem
		-webkit-background-size: cover
		background-size: cover
		box-shadow 0px 10px 10px rgba(0, 0, 0, 0.2);
	}
	
	.swiper-slide-thumb-active {
		box-shadow 2px 2px 4px #000
	}
}

.product__item-column-right {
	width: 100%
	max-width: rem(280)
}

.product__item-button {
	width: rem(70)
}

.product__item-button-prev {
	top: auto
	left: 0rem;
	bottom: 0.3rem;
}

.product__item-button-next {
	top: auto
	right: 0rem;
	bottom: 0.3rem;
}

.product__item-info {
	margin-top: 0.6rem
}

.product__item-info-line {
	display: flex
	justify-content: space-between
	
	p {
		font-weight: bold
		font-size: rem(15);
		line-height: rem(27);
	}
	
	span {
		text-align: right
		font-size: rem(15);
		line-height: rem(27);
	}
}

.size__title {
	h6 {
		font-weight: 400
		font-size: rem(18);
		line-height: rem(27);
		color: #111111;
	}
}

.choose-size {
	width: 100%
	max-width: 18rem
	display: flex
	flex-wrap: wrap
	margin: 0.6rem 0 0 0;
	
}

.size-choose-descr {
	position: absolute;
	font-size: 0.88rem;
	line-height: 1.32rem;
	color: rgba(17, 17, 17, 0.5);
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
	top: 3.9rem;
	display: block;
	left: 50%;
	width: rem(51);
	height: rem(21);
	opacity: 0
	transition opacity 300ms ease-in-out
}

.size-choose {
	width: rem(30);
	height: rem(30);
	font-weight: 700;
	font-size: rem(16);
	line-height: rem(24);
	border: 1px solid rgba(17, 17, 17, 0.3);
	border-radius: 5px;
	color: rgba(17, 17, 17, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer
}

.size-label {
	position: relative
	display: flex
	justify-content: center
	align-items: center
	margin-right: 1.2rem
	margin-bottom: 0.3rem
	
	&:last-child {
		margin-right: 0
	}
	
	&:hover {
		.size-choose-descr {
			opacity: 1
		}
	}
	
	input {
		display: none
		
		&:checked {
			~ .size-choose {
				border: 1px solid #111111;
				color: #111111
			}
			
			~ .size-choose-descr {
				opacity: 1
			}
		}
		
	}
}


.product__item-form {
	margin-top: 2.6rem
	
	.order-form {
		input {
			background: #000000
			color: #ffffff
			&::placeholder {
				color: #fff;
				opacity: 1
			}
		}
		
		button {
			margin-top: 0.6rem
		}
	}
}
.product__item__price {
	display: flex
	justify-content: space-between
	align-items: baseline
	margin-top: 4.1rem
	
	.new-price {
		font-size: rem(30);
		line-height: rem(41);
		margin: 0 0.65rem;
	}
	
	.old-price {
		margin: 0 0.7rem;
	}
}

.product__bg-logo {
	width: rem(1400);
	height: rem(365);
	position: absolute
	z-index: 1
	top: 8rem;
	left: -8rem;
}