.reviews {
	width: 49%
}

.review__slider {
	position: relative
	.swiper-wrapper {
		padding: 0.6rem 0.3rem
		height: 31.39rem
	}
	.swiper-container{
		padding: 0 0.5rem 0.5rem
	}
	.review__swiper-pagination {
		text-align: center
		left: 0
		right: 0
		bottom: -2.3rem
		font-size: rem(24);
		line-height: rem(33);
	}
}

.review__item {
	width: 100%
	max-width: rem(555)
	//height: rem(230) !important
	background: #FFFFFF;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	display: flex
	flex-direction: column
	justify-content: flex-start
	align-items: flex-start
	padding: 1.2rem
	flex-shrink: 0;
	//margin: 0 0 rem(27)
}

.review__item-user {
	border-radius: 50%
	width: rem(70)
	height: rem(70)
	overflow: hidden
	margin: 0 auto
	flex-shrink 0
	img{
		width: 100%
		height: 100%
		object-fit cover
		font-family: 'object-fit: cover;';
	}
}

.review__item-txt {
	text-align: center
	margin-top rem(30)
	width: 100%
	p {
		font-size: rem(15);
		line-height: rem(20);
		color: #000000
		
	}
}
.review__button{
	width: rem(70)
}
	.review__button-prev{
		top: auto
		left: 7.3rem;
		bottom: -2.6rem;
	}
	.review__button-next{
		top: auto
		right: 7.3rem
		bottom: -2.6rem
	}