.btn-cart {
	position: fixed
	cursor: pointer
	right: 50%;
	transform: translate(249%,0);
	bottom: 3rem
	background: #364147;
	border: 1px solid #49555B;
	padding: 0.8rem 1rem
	box-sizing: border-box;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	width: rem(230)
	height: rem(86)
	display: flex
	justify-content: space-between
	z-index: 99
	img {
		width: rem(50)
		height: rem(51)
	}
}

.total-products {
	text-align: center
	p {
		font-weight: bold;
		font-size: rem(40);
		line-height: 1;
		text-transform: uppercase;
		color: #FFFFFF;
		text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
	}
	
	span {
		font-size: rem(15);
		line-height: rem(20);
		text-transform: lowercase;
		color: #FEC601;
		text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
	}
}

.top-info {
	padding: 0rem 0 4rem
	position: relative
	
	&:after {
		content: "";
		display: block;
		position: absolute;
		background: url("../images/mountains-1.png") no-repeat
		-webkit-background-size: cover
		background-size: cover
		width: rem(1920);
		height: rem(824);
		top: 13rem
		left: 0
	}
	&:before{
	  content ""
	  display: block;
	  position:absolute;
		background: url("../images/triangle.png") no-repeat
		-webkit-background-size: cover
		background-size: cover
		top: 0
		right: 0
		width: rem(798);
		height: rem(615);
	}
}

.top-info__wrap {
	position: relative
	display: flex
	align-items: flex-start
}

.info__column {
	width: 50%
	position: relative
}

.top-info__column__left {
	padding: 0.6rem 1.6rem 1.2rem;
	background: linear-gradient(180deg, rgba(54, 65, 71, 0) 20%, rgba(54, 65, 71, 0.8) 67.92%, #364147 100%);
}

.info__title {
	p {
		font-size: rem(20);
		line-height: rem(27);
		color: #000000
		margin-top: 1.3rem
	}
}

.info__list {
	display: flex
	//justify-content: space-between
	margin-top: 3.1rem
	
	li {
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: center
		width: 100%
		max-width: rem(150)
		margin-right: 1.5rem
		
		&:last-child {
			margin-right: 0
		}
	}
	
	span {
		font-weight: bold;
		font-size: rem(16);
		line-height: rem(22);
		text-align: center;
		color: #FFFFFF;
		margin-top: 0.7rem
		width: 100%
	}
}

.info__list-img {
	width rem(36)
}

.info__price {
	display: flex
	justify-content: center
	align-items: baseline
	margin-top: 2.4rem
	.old-price, .new-price {
		margin: 0 0.6rem
	}
}

.old-price {
	font-size: rem(20);
	line-height: rem(27);
	position: relative
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 50%
		transform translate(0, -50%)
		height: 2px
		left: -0.2rem
		right: -0.2rem
	}
}

.new-price {
	font-size: rem(36);
	line-height: rem(49);
	font-weight: bold
}

.top-info__discount-btn {
	display: flex
	justify-content: center
	align-items: center
	margin-top: 1.1rem
}

.top-info__logo {
	width: 100%
	max-width: rem(365)
	margin: 1.9rem 0 0 3.9rem;
}

.info__img-1 {
	width: 100%;
	max-width: 35.5rem;
	margin: 0.1rem 0 0 -2.6rem;
}

.info__img-2 {
	width: 100%;
	max-width: rem(203);
	position: absolute
	top: 0.5rem;
	right: -5.8rem;
}