.decor {
	position: absolute
	pointer-events none
}

.top-info__decor-1 {
	width: rem(465)
	top: 8.4rem;
	left: -33.4rem;
}

.top-info__decor-2 {
	width: rem(465)
	top: 0.9rem;
	left: -22.2rem;
	z-index: 10
}

.top-info__decor-3 {
	width: 24.19rem;
	top: -1.3rem;
	right: -16.7rem;
}

.top-info__decor-4 {
	width: 24.19rem;
	top: 3.9rem;
	right: -28rem;
}

.gallery__decor-1 {
	width: 29.07rem;
	top: -4.6rem;
	right: -15.7rem;
}

.about-product__decor-1 {
	width: 24.19rem;
	top: -3.6rem;
	right: -21.3rem;
}

.about-product__decor-2 {
	width: 12.69rem;
	top: -1.3rem;
	right: -10.4rem;
	z-index: 6
}
	.bottom-info__decor-1{
		width: rem(465)
		top: 7.8rem;
		left: -33.4rem;
	}
	.bottom-info__decor-2{
		width: 29.07rem;
		top: -4.8rem;
		left: -24.7rem;
		z-index: 6
	}

.bottom-info__decor-3 {
	width: 19.38rem;
	top: 3rem;
	right: 13.4rem;
}
.bottom-info__decor-4 {
	width: 24.19rem;
	top: -5.7rem;
	right: -10.4rem;
}
.bottom-info__decor-5 {
	width: 24.19rem;
	top: 3.1rem;
	right: -24.2rem;
}