

.time {
	display: flex
	justify-content: space-between
	align-items: center
	li {
		display: flex
		justify-content: center
		align-items: center
		color: #FEC601;
		text-shadow: 0 0.125rem 0.3rem rgba(0, 0, 0, 0.35);
		font-size: 1.11rem
		line-height: rem(24);
		font-weight: 700
		text-transform: uppercase;
		width: rem(24);
		height: rem(24);
		margin: 0 0.4rem
		&:last-child {
			margin-right: 0
			display: none
		}
	}
	.time-bg__dot {
		display: none
	}
}


.countdown{
	width: 100%
	max-width: rem(350)
	margin: 1.95rem auto 0
	display: flex
	justify-content: space-between
	align-items: center
	padding-left: 0.9rem
}
.countdown-title {
	text-align: center
	h3 {
		color: #fff;
		font-size: 1.11rem;
		line-height:  rem(24)
		font-weight: 400;
	}
}