.title {
	h1{
		font-size: rem(38);
		line-height: rem(52);
		color: #00B1A7;
	}
	h2{
		font-size: rem(30);
		line-height: rem(41);
		color: #000000
		text-transform: uppercase
	}
	h3{
		font-size: rem(36);
		line-height: rem(49);
		color: #000000
		text-transform: uppercase
	}
	h4{
		font-size: rem(24);
		line-height: rem(24);
	}
}