@media (min-width: 1950px) and (max-width: 2600px) {

}


@media (min-width: 1360px) and (max-width: 1679px) {
	.btn-cart {
		right: 3rem;
		bottom: 4.9rem;
		transform: translate(0%, 0);
	}
	.about-product:after {
		top: 0.4rem;
		left: -70rem;
	}
}


@media (min-width: 980px) and (max-width: 1300px){
	html{
		font-size: 1.25vw
	}
	.about-product:after {
		content: "";
		display: block;
		position: absolute;
		background: url(../images/mountains-1.png);
		background-size: cover;
		width: 87.38rem;
		height: 37.5rem;
		top: 0.4rem;
		left: -70rem;
	}
	.btn-cart {
		position: fixed;
		right: 1rem;
		transform: translate(0%, 0);
	}
}

